.form-container {
	max-width: 400px;
	width: 100%;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.form-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-container form {
	transition: transform 0.6s ease-in-out;
}

.form-container.register-form {
	transform: translateX(400px);
}

.form-container.login-form {
	transform: translateX(0);
}

.form-container.register-form .login-form {
	transform: translateX(-400px);
}

.form-container.register-form h2 {
	margin-bottom: 30px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="file"],
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 23px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.form-container input[type="file"]::file-selector-button{
	background-color: #ce1212;
	color: #fff;
	outline: none;
	border: 0;
	border-radius: 3px;
	padding: 5px 8px;
}

.form-container button {
	width: 100%;
	padding: 10px;
	background-color: #ce1212;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}

.form-container button:hover {
	background-color: #f01010;
	box-shadow: 0 8px 28px rgba(250, 21, 21, 0.719);
}

.form-container .toggle-form {
	margin-top: 10px;
	text-decoration: underline;
	color: #666;
	cursor: pointer;
}

.bg-of-text {
	color: #f01010;
	background-color: #d1040452;
}

.text-cursor{
	cursor: pointer;
}

.foodFormContainer{
	margin-top: 2%;
}