#navbarSupportedContent ul li{
    text-align: right;
}

.logo .blackColor{
    color:black;
    text-decoration:underline;
}

.logo h1.blackColor span{
    color: #ce1212;
}

#navbarSupportedContent ul li a{
    text-transform: capitalize;
}

/* ------------------Resataurant Food List----------------- */

#foodList{
    padding: 2% 10px 30px;
}
/* 
.FoodCardHead{
    display: flex;
    justify-content: center;
} */